:root{
  --orange : #FF6F61;
  --grey: #D3CECE;
  --black: #424040;
}

body{
  /* height: 100vh; */
  width: 100vw;
  
  box-sizing: border-box;
  background-color: grey;
  font-family: "Roboto", Arial, sans-serif;
}
#root{
  width: 100%;


  display: flex;
  justify-content: center;
}

.App {
  background-color: white;

  /* height: 100vw; */
  width: 60%;

  box-sizing: border-box;
  padding: 25px 30px;
  padding-bottom: 60px;
}


/* top */
.top{
  display: flex;
  flex-direction: row;
  align-items: center;

}
.top img{
  width: 22%;
  margin-right: 60px;
}
.top h1{
  font-size: 3vw;
  
  color: var(--orange);
}


/* center */
h2{
  font-size: 2vw;
  font-weight: 400;
  color: var(--orange);
  margin:0;

  text-transform: uppercase;
}
h2.solo{
  display: flex;
  flex-direction: column;

  width: fit-content;
}
h2.solo.right{
  align-items: flex-end;
}
h2.solo::after{
  height: 1px;
  width:70px;
  content: ' ';
  background-color: var(--grey);

  will-change: width;
  transition: width 0.3s ease-out;
}

h2.solo:hover::after{
  width: 100%;
}


ul{
  list-style: none;
  padding: 0;
}
ul li{
  display: flex;
  flex-direction: column;
}

.container{

}
.container .container__title{
  width: 100%;
  border-bottom: 1px solid var(--grey);
}
.container.first .container__title{
text-align: right;
}

.container .container__top{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.container .container__top p.description{
  width: 60%;

  font-size: 1.1em;
  font-weight: 300;
  color:var(--black);
}



.container .container__bottom{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}



.container.second .container__title{
  margin-bottom: 17.6px;
}
.container.second .container__content{
  display: flex;
  flex-wrap: wrap;

}
.container.second .container__content .experience{
  width: 50%;

}


.column.column__right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.column .enum:first-of-type{
  margin-bottom: 30px;
}

/* contact */
li.contact{
  margin-bottom: 15px;
}
li.contact a{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  font-size: 1em;
  font-weight: 400;
  color: var(--black);

  text-decoration: none;
}
li.contact a .icon{
  width: 16px;
  height: 16px;

  margin-left: 14px;
}
li.contact a .icon img{
  width:100%;
  height: 100%;
}

/* expertise et langue */
li.sub-li{
  margin-bottom: 12px;

  font-size: 1em;
  font-weight: 200;
  color: var(--black);
}

/* education */
li.education{
  margin-bottom: 12px;

  font-size: 1em;
  font-weight: 400;
  color: var(--black);
  text-align: right;
}
li.education span{
  margin-bottom: 2px;
}
li.education .education__ecole,li.education .education__cursus{

}
li.education .education__date{
  font-style: italic;
}

/* experience */
.experience{
  box-sizing: border-box;
  padding-right:30px;

  color:var(--black);
}
.experience h3{
  display: inline;

  font-size: 1.2em;
  font-weight: bold;

}
.experience span{
  display: inline;
  margin-left: 8px;

  color:var(--orange);
  font-size: 1em;
  font-weight: 400;
  font-style: italic;

}
.experience ul{

}
.experience ul li{
  font-size: 1em;
  font-weight: normal;
  margin-bottom: 2px;
}