/* var */
:root{
  --black:#1E2022;
  --purple:#2E175A;
  --lightgrey:#BAB2C8;

 
}

/* normal things */
body{
  font-family: "Avenir Next", Arial , sans-serif;
}

/* react component */
.app {
  display: flex;
  flex-direction: column;
}
/* GRID */

.left-marge, .right-marge{
  /* min-height: 100vh; */
  width:12vw;
  /* background-color: red; */
}

.content{
  height: 100%;
  width: calc(100vw - 2 * 12vw);
}

.row{
  display: flex;
  flex-direction: row;

  border-bottom: 1px solid var(--lightgrey);
}

.row.border-none{
  border: none;
}

.row .left-marge{
  border-right: 1px solid var(--lightgrey);
}
.row .right-marge{
  border-left: 1px solid var(--lightgrey);
}

.row.side-border-none .left-marge,.row.side-border-none .right-marge{
  border:none;
}

/* common component */
/* .navigation{
  border-bottom: 1px solid var(--lightgrey);
} */
.navigation nav{
  width: 100%;
  height: 10vh;
  
  display: flex;
  flex-direction: row;

  justify-content: space-between;
  align-items: center;
}

.navigation nav .logo{
  margin-left: 40px;
}

.navigation nav .links{
  margin-right: 40px;

}

.navigation nav .links a{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  font-weight: 600;

  color: var(--black);
  margin-right: 42px;

  text-decoration: none;
  font-family: "Avenir Next", "Arial", sans-serif;
}

.navigation nav .links a:last-of-type{
  margin-right: 0px;
}
.navigation nav .links a:hover:not(sup){

  text-decoration: underline var(--lightgrey);

}

.navigation nav .links a sup{
  color: var(--purple);
  font-size: 1rem;
  font-weight: 600;
}


/* home top */
.home__top{
  height: 80vh;
  box-sizing: border-box;
}

.home__top .content{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  box-sizing: border-box;
  padding: 40px;
}

.home__top .content .home__top__name{
  font-size: 6vw;
  font-weight: bold;
  color: var(--black);
  text-transform: uppercase;
}
.home__top .content .home__top__title{
  color: var(--purple);
  text-transform: uppercase;
  font-size: 1.8vw;
  font-weight: 500;
}

/* home-main */
.home__main{
  
}

.home__main .content {
  padding:11.5vw 0 ;
  box-sizing: border-box;
  position: relative;
}

.home__main .content .home__main__title{
  position: absolute;
  top:0;
  left:0;
  color: var(--purple);

  font-weight: bold;
  font-size: 15vw;
  text-transform: uppercase;
  opacity: 0.0592;

  z-index: -4;
  text-align: center;
  width: 100%;
}

/* project presentation */
.home__project{
  display: flex;
  flex-direction: row;
  height: 40vw;
}

.home__project .home__project__left{
  width: 70%;
  height: 100%;
  position: relative;
}
.home__project .home__project__left .container{
position: absolute;
top:0;
left: calc(-12vw - 1px);

width: calc((100vw - 2 * 12vw) /100 * 70 + 12vw  );
height: 100%;

box-sizing: border-box;
padding: 60px;
}  
.home__project .home__project__left .container img{
  width: 100%;
  height: 100%;

  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.388332);
}





.home__project .home__project__right{
  width: 30%;
  height: 100%;

  box-sizing: border-box;
  padding: 20px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.home__project__right .project__info{
  display: flex;
  flex-direction: column;
}
.project__info .project__number{
  font-weight: 600;
  font-size: 3.1em;
  color: var(--black);
}
.project__info .project__date{
  color:var(--purple);

  font-weight: 500;
  font-size: 1em;

  margin-bottom: 8px;
}
.project__info .project__description{
  color: var(--black);

  font-weight: 500;
  font-size: 1em;

  margin-bottom: 1em;
}
.project__info a{
  font-weight: 600;

  color: var(--black);
  font-size: 1.2em;

  text-decoration: none;

  display: flex;
  flex-direction: column;
  width: fit-content;
}
.project__info a::after{
  content: ' '; 
  background-color: var(--lightgrey);
  height: 2px;
  width: 30%;

  will-change: width;
  transition: width 0.3s ease-out;
}

.project__info a:hover::after{
  width: 100%;
}

.home__project__right .project__bottom{

}
.project__bottom .project__type{
  font-size: 1.1em;
  
  color: var(--purple)
}
.project__bottom h2{
  margin:0;
  margin-top: 10px;

  font-size: 2.2em;
  color: var(--black);
  text-transform: uppercase;
  font-weight: 600;
}

/* home-contact */
.home__contact{
  /* height: 80vh; */
}
.home__contact .content{
  position: relative;

  padding:  20px 30px 110px 30px;
  box-sizing: border-box;

  /* height: fit-content; */
}
.home__contact .content .home__contact__title{
  position: absolute;
  top:0;
  left:0;
  color: var(--purple);

  font-weight: bold;
  font-size: 15vw;
  text-transform: uppercase;
  opacity: 0.0592;

  z-index: -4;
  text-align: center;
  width: 100%;

  box-sizing: border-box;

}

.home__contact .content h2{
  margin:0;

  color: var(--black);
  font-size: 5vw;

  margin-bottom: 50px;
}

.home__contact .content .home__contact__container{
  width: 100%;
  /* height: 100%; */
  background-color: red;

  display: flex;
  justify-content: flex-end;

  padding: 0 80px;

  box-sizing: border-box;
}

.home__contact__container .form__container{
  background-color: #fff;
  box-shadow: 0px 4px 34px rgba(0, 0, 0, 0.338032);

  display: flex;
  flex-direction: row;
  align-items: center;

  width: 80%;
  height: 25vw;
  /* height: fit-content; */
}

.form__container{
  display: flex;
  justify-content: space-between;
}


.form__container .form__container__illustration{
  width: 20%;
  height: 100%;
  background-color: blue;
  position: relative;
}

.form__container .form__container__illustration .illustration__container{
  position: absolute;
  top:-4%;
  right: 0;

  width: 22vw;
  height: 22vw;
  box-shadow: 0px 4px 54px rgba(0, 0, 0, 0.232309);
}
.form__container .form__container__illustration .illustration__container img{
  width:100%;
  height: 100%;
}


.form__container form{
  width: 80%;
  box-sizing: border-box;

  padding: 60px 130px 88px 85px;
}

form .form__row{
  display: flex;
  flex-direction: row;
}

form label{
  display: flex;
  flex-direction: column;
}
form label span{

}
form label input{

}





/* home-footer */
.footer{
  min-height: 10vh;
}

.footer .content{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  box-sizing: border-box;
  padding: 40px;
}

.footer .content .footer__credentials{
  display: flex;
  flex-direction: column;

  text-align: center;
}

.footer .content .footer__socials .link:first-of-type{
  margin-right: 20px;
}



/* About */
.about{

}

.about__content{
  height: 80vh;
}
.about__content .content{
  display: flex;
  flex-direction: row;

  box-sizing: border-box;
  padding: 0 40px;
}
.about__content .content .content__left{
  height: 100%;
  width: 50%;
  /* background-color: blue; */

  box-sizing: border-box;
  padding-top: 8vw;
}
.about__content .content .content__left span{


  font-size: 10vw;
  font-weight: 600;
  color: var(--black);
}


.about__content .content .content__right{
  height: 100%;
  width: 50%;
  /* background-color: orange; */
  box-sizing: border-box;
  padding: 50px 0;
}
.about__content .content .content__right .scrollable{
  height: 100%;
  width: 100%;
  overflow-x: scroll;
}



.about__bottom{
  height: 10vh;
}
