html{
    width: 100%;
    height: 100%;
}


body{
    position: relative;
    height: 100%;
    width: 100%;
    margin:0;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

a{
    text-decoration: none;
    color: black;
}

/* HEADER */
header{
    display: flex;
}
header div.left{
    width: 9vw;
    height: 151px;
}
header div.center{
    width: 82vw;
    height: 151px;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    position: relative;
}
header div.right{
    width: 9vw;
    height: 151px;
}

header ul{
    list-style-type: none;
    display: flex;
}

header .logo{
    height: 40px;
    margin-left: 40px;
}
header .logo img{
    height: 100%;
}
header nav{
    position: absolute;
    right: 0%;
    margin-right: 40px;
}
ul li{
    margin-left: 42px;
    cursor: pointer;
    font-size: 22px;
}
sup{
    vertical-align: top;
    color: #2E175A;
}




/* bar handle */
.side-bar{
    position: absolute;
    width: 1px;
    border-left: solid 1px #E0E0E0 ;
    height: 100vmax;
}
.top-bar{
    position: absolute;
    width: 100%;
    border-top: solid 1px #E0E0E0 ;
    height: 1px;
}

.left-bar{
    left: 9%;
}
.right-bar{
    right: 9%;

}

.first-top{
    /* top: 3.3vh; */
    top: 151px;
}
.second-top{
    /* top: 96.7vh; */
    top: 749px;
}

/* section handle */
#general{
    display: flex;
}

#general div{
    /* background-color: green; */
}

div.left{
    width: 9vw;
    height: 100vh;
}
div.center{
    width: 82vw;
    height: 100vh;
}
div.right{
    width: 9vw;
    height: 100vh;
}


/* left bar content */

section#general .right .side-menu{ /* POSITION FIXED ??*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
    /* position: fixed; */
}

section#general .right .side-menu p{
    margin:0;
    padding: 0 25px;
    transform: rotateZ(-90deg);
    width: 100px;
}
section#general .right .side-menu .contact-bar{
    width: 2px;
    height: 81px;
    background: #1E2022;
}

section#general .right .side-menu .pen{
    background-color: #2E175A;
    width: 44px;
    height: 44px;
    text-align: center;
    border-radius: 100%;
    cursor: pointer;
    box-shadow: 0px 3px 7px rgba(46, 23, 90, 0.426829);
}
section#general .right .side-menu .main-social{
    margin-bottom: 25px;
}
section#general .right .side-menu .pen img{
    transform: translateY(75%);

}

/* MAIN DIV */

/* présentationp */
#presentation {
    width: 100%;
    height: 597px;
    position: relative;
}
.center .presentation{
    margin: 0 0 37px 37px;
    position: absolute;
    bottom: 0;
    left: 0;
    text-transform: uppercase;
    
}

.center .presentation .name{
    font-size: 90px;
    color: #1E2022;
    line-height: 102px;
    font-weight: bold;
}
.center .presentation .name span{
    display: block;
}

.center .presentation .job{
    font-size: 26px;
    line-height: 36px;
    color: #2E175A;
}

/* project */
#project{
    width: 100%;
    position: relative;

}

#project .big-title{
    font-weight: bold;
    font-size: 228px;
    line-height: 311px;
    color: rgba(46, 23, 90, 0.152448);
    position: absolute;
    top: 0;
    text-transform: uppercase;
    text-align: center;
}

#project .missions{
    position: absolute;
    left: -9vw;
    top: 24vh;
}

#project .missions .mission{
    width: 91vw;
    height: 552px;
    display: flex;

}

#project .missions .mission .mission-img{
    height: 100%;
    width: 71.54%;
    position: relative;

}

#project .missions .mission .mission-img img{
    width: 80%;
    position: absolute;
    top:50%;
    left:50%;
    transform: translateY(-50%) translateX(-50%);
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.388332);
    
}

#project .missions .mission .mission-description{
    height: 100%;
    width: 28.45%;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    position: relative;
}
#project .missions .mission .mission-description *{
    display: inline;
}

#project .missions .mission .mission-description .mission-id{
    font-weight: 600;
    font-size: 50px;
    line-height: 68px;
    color: #1E2022;
}
#project .missions .mission .mission-description .mission-date{
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #2E175A;
}
#project .missions .mission .mission-description .mission-text{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #1E2022;
}
#project .missions .mission .mission-description a{
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    color: #1E2022;

}
#project .missions .mission .mission-description div.mission-line{
    background-color: #BAB2C8;
    height: 2px;
    width: 130px;
    transform-origin: 0 0;
    transform: scaleX(0.3);
}
#project .missions .mission .mission-description div.mission-bottom{
    position: absolute;
    bottom: 5%;
    display: flex;
    flex-direction: column;
}
#project .missions .mission .mission-description .mission-post{
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #2E175A;
    text-transform: capitalize;
}
#project .missions .mission .mission-description .mission-name{
    font-weight: 600;
    font-size: 36px;
    line-height: 49px;
    color: #1E2022;
    text-transform: capitalize;
}


/* mission spécification */
#project .missions .mission.transway .mission-img{
    background-color: #AAE9E7;
}
#project .missions .mission.techstory .mission-img{
    background-color: #54AEEB;
}

